# Feature engineering

In [1]:
# Import your libraries:

import os

%matplotlib inline

import numpy as np
import pandas as pd

import sys
sys.path.append('../')

import src.clean_functions2 as cf
import re
from sklearn.model_selection import cross_val_score


import warnings

warnings.filterwarnings('ignore')




# https://www.kaggle.com/c/diamonds-datamad0921

In [2]:
diamonds_df_train = pd.read_csv("../data/train.csv")

In [3]:
diamonds_df_test = pd.read_csv("../data/test.csv")

In [4]:
diamond_df_train = cf.featuring_cleaning(diamonds_df_train)

In [5]:
diamond_df_test = cf.featuring_cleaning(diamonds_df_test)

In [6]:
diamond_df_train.head()

,carat,x,y,z,price,volume,cut_Good,cut_Ideal,cut_Premium,cut_Very Good,...,color_H,color_I,color_J,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2
0,0.30,4.31,4.28,2.68,6.353,49.437424,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
1,1.01,6.42,6.46,4.04,9.183,167.551728,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0.72,5.71,5.74,3.54,7.983,116.024916,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
3,1.08,6.54,6.50,4.12,8.371,175.141200,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
4,0.36,4.50,4.55,2.82,6.588,57.739500,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0

In [7]:
diamond_df_test.head()

,carat,x,y,z,volume,cut_Good,cut_Ideal,cut_Premium,cut_Very Good,color_E,...,color_H,color_I,color_J,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2
0,0.32,4.43,4.49,2.70,53.70489,0,1,0,0,0,...,0,1,0,0,1,0,0,0,0,0
1,1.24,6.80,6.74,4.26,195.24432,0,0,1,0,0,...,0,1,0,0,1,0,0,0,0,0
2,1.66,7.55,7.60,4.70,269.68600,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
3,0.75,5.94,5.90,3.59,125.81514,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
4,1.50,7.26,7.15,4.67,242.41503,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0

In [8]:
diamond_df_train.to_csv("../data/train_clean.csv", index = False)

In [9]:
diamond_df_test.to_csv("../data/test_clean.csv", index = False)